/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-size: 100%;
}

.flex{
    display: flex;
}

/* HEADER */

.container-header{
    background-color: white;
    height: 80px;
    width: 100%;
    /* DEBUG */
    border: 1px solid black;
}

.wrapper-header{
    justify-content: space-between;
    
}

.header-left{
    height: 80px;
    width: 30%;
    /* DEBUG */
    background-color: aqua;
}

.header-right{
    height: 80px;
    width: 30%;
     /* DEBUG */
     background-color: red;
}

/* MAIN */

/* jumbotron */

.container-jumbotron{
    background-color: #b4d0e7;
    /* DEBUG */
    height: 600px;
}

.wrapper-jumbotron{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    /* debug */
    border: 1PX SOLID black;
}

.jumbo-text{
    /* debug */
    border: 1px solid black;
    height: 400px;
    width: 50%;
}

.jumbo-img{
     /* debug */
     border: 1px solid black;
     height: 400px;
     width: 50%;
}