/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.strong{
    font-weight: 900;
}

.btn-blue{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.arrow{
    font-size: 2rem;
    margin-top: 30px;
}

.lightgreen{
    background-color: #d1e9cd;
}

.green{
    background-color: #a2d39b;
}

.burgundy{
    background-color: #61082b;
}

.lightblue{
    background-color: #0093ce;
}

.orange{
    background-color: #ff1c1c;
}

.red{
    background-color: #d5001f;
}

.aqua{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

.white{
    color: white;
}


/* HEADER */

.container-header{
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.wrapper-header{
    justify-content: space-between;
    height: 80px;
}

.wrapper-header a{
    text-decoration: none;
    color: inherit;
}

.header-left{
    padding-top: 30px;
}

.header-right{
    padding-top: 30px;
    margin-right: 10px;
}

.wrapper-header ul li{
    display: inline-block;
    margin-left: 20px;
}

.header-left img{
    vertical-align: bottom;
}

/* MAIN */

/* jumbotron */
.container-jumbotron{
    background-color: #b4d0e7;
}

.wrapper-jumbotron{
    width: 70%;
    margin: 100px auto;
    padding: 30px;
}

.jumbo-text{
    width: 30%;
    padding-top: 30px;
}
h1{
    font-size: 4rem;
}

.jumbo-text li{
    margin-top: 18px;
}
.col-jumbotron{
    position: relative;
}
.jumbo-img{
    width: 70%;
    padding-top: 30px;
    margin-top: 18px;
    position: absolute;
    right: 0;
}

.jumbo-img img{
    max-height: 450px;
}

.arrow{
    font-size: 2rem;
    margin-top: 30px;
}

/* Plans */
.container-plans{
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper-plans{
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
}

.wrapper-plans input{
    margin-top: 40px;
    margin-bottom: 40px;
}

input + input{
    margin-left: 20px;
}

/* columns */

.col{
    width: calc(100% / 3);
    border: 1px solid black;
}

.first-part ul{
    padding: 20px;
}
.second-part ul{
    padding: 20px;
}
.first-part li{
    margin-top: 20px;
}

.second-part li{
    margin-top: 20px;
}

.second-part i{
    color:#0061ff;
}

.title-col{
    text-align: center;
    border-bottom: 1px solid black;
}

.team{
    margin-top: 40px;
    position: relative;
    border: 1px solid black;
}

.team-title{
    text-align: center;
    border-bottom: 1px solid black;
}

.team-text li{
    margin-top: 10px;
    width: 70%;
}

.team-text ul li:last-child{
    margin-top: 30px;
}

.team-btn{
    position: absolute;
    right: 20px;
    top: 40px;
}

/* PARTNERS */


.wrapper-partners{
    margin: 0 auto;
    width: 50%;
}

.partners-img{
    width: 50%;
}

.partners-text{
    width: 50%;
    margin-left: 30px;
}

.partners-text ul li{
    margin-top: 20px;
}

.btn-partner{
    padding: 10px;
}
/* more operatins */

.col-operations{
    width: calc(100% / 3);
    padding-right: 20px;    
}
.col-operations p{
    padding-bottom: 20px;
}

.morethan{
    margin-top: 80px;
}
.morethan p{
    margin-top: 50px;
}

/* clients */
.col-clients{
    width: calc(100% / 3);
    height: 800px;
    flex-wrap: wrap;
    /* DEBUG */
    border: 1px solid green;
}

.clients{
    width: calc(100% / 2);
    height: 400px;
    align-items: center;
    justify-content: center;
}

.clients img{
    max-width: 50%;
}

.middle-wrapper{
    width: 70%;
    margin: 0 auto;
}

.logo-clients{
    margin-top: 30px;
}

.logo-clients *{
    margin-top: 40px;
}

.logo-clients hr{
    width: 20%;
}

.lightgreen{
    position: relative;
}

.green{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 20px;
    left: 20px;
    justify-content: center;
}
/* free trial */
.container-freetrial{
    background-color: #b4d0e7;
}

.wrapper-freetrial{
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.btn-trial{
    padding: 8px 20px;
    border: none;
}

.trial-title{
    color: #61082b;
}




/* faq */
.container-faq{
    margin: 100px 0;
}

.wrapper-faq{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0 50px 0;  
}

.wrapper-faq h2{
    font-size: 2rem;
    margin-bottom: 50px;
}

.question{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 40px 0;
}

.one{
    border-top: 1px solid black;
}




/* footer */
.container-footer{
    background-color: black;
    color: white;
    padding: 50px 0 50px 0;
}

.wrapper-footer{
    margin: 0 auto;
    width: 70%;
}

.col-footer{
    width: calc(100% / 5);
    padding: 30px 0 30px;
}

.col-footer li:first-child{
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 700;
} 

.bottom-footer{
    margin-top: 80px;
}

.bottom-footer span{
    border-top: 1px solid white;
    padding-top: 30px;
}